<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>connecting 3 tables data</h1>
        <table border="3px">
            <tr>
                <th>ename</th>
                <th>manager</th>
                <th>dname</th>
                <th>salary</th>
                <th>hiredate</th>
            </tr>
            {% for eo in EMD %}
            <tr>
                <td>{{eo.ename}}</td>
                <td>{{eo.mgr.ename}}</td>
                <td>{{eo.deptno.dname}}</td>
                <td>{{eo.sal}}</td>
                <td>{{eo.hiredate}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>